@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--dark-cyan:hsl(158, 36%, 37%);
--cream:hsl(30, 38%, 92%);
--very-dark-blue:hsl(212, 21%, 14%);
--dark-grayish-blue:hsl(228, 12%, 48%);
--white:hsl(0, 0%, 100%);
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Fraunces', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--cream);
}
p,h1,button{
    margin:0;
    padding:0;
    border:none;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    max-width: 35rem;
    border-radius: 0.8rem;
    background-color: var(--white);
}

.card > img{
    display: block;
    width: 50%; /* Only takes half of the container width */
    height: auto;
    border-radius: 0.8rem 0 0 0.8rem; /* Adds radius only to left side */
    background-color:transparent;
}
.right-container{
    flex:1;
    padding:1.2rem;
}
h1,p,.logo, .price{
    margin-bottom: 1.2rem;
}

.card .logo{
font-family: 'Montserrat', sans-serif;
letter-spacing:0.2rem;
text-transform: uppercase;
font-weight: 700;
color:var(--dark-grayish-blue);
font-size: 0.7rem;
}

.card h1{
    line-height: 1;
    font-size: 2rem;
    font-family: inherit;
}

.card p{
    font-size: 1rem;
    color:var(--dark-grayish-blue);
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
.price .new{
    font-size: 2rem;
    color:var(--dark-cyan);
    font-weight: 700;
}

.price .old{
    font-size:0.8rem;
    color:var(--dark-grayish-blue);
    text-decoration: line-through;
}

.card button {
    width: 100%;
    padding:0.8rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--dark-cyan);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    font-weight: 600;
    cursor: pointer;
}
.card button:hover,
.card button:focus{
    background-color: var(--very-dark-blue);
}


/* 
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */